In [3]:
# List
a_list=[1,2,3,4,5]
print(a_list)
print(a_list[3])
print(a_list[0])
print(a_list[1])

[1, 2, 3, 4, 5]
4
1
2

In [5]:
# 슬라이싱
print(a_list[2])
print(a_list[:2])

3
[1, 2]

In [6]:
print(a_list[2:])

[3, 4, 5]

In [7]:
print(a_list[:])

[1, 2, 3, 4, 5]

In [9]:
print(a_list[1::2])

[2, 4]

In [14]:
b = a_list[:]
b[0] = 100
print(b)

[100, 2, 3, 4, 5]

In [13]:
print(a_list)

[10, 2, 3, 4, 5]

In [15]:
b_list = []
b_list.append(1)
b_list.append(2)
b_list.append(3)
print(b_list)

[1, 2, 3]

In [19]:
b_list.insert(2, 100) #insert(위치,요소)
print(b_list)

[1, 2, 100, 3, 2, 2, 2]

In [23]:
# tuple 간단하게 만듬, 수정 불가
a_tuple = (1,2,3,4,5)

print(a_tuple)
a_tuple[0]=10

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [26]:
a=100
b=200
c=b
b=a
a=c
print(a,b)

200 100

In [29]:
a,b=b,a
print(a,b)

100 200

In [30]:
#Dict
a_dic = {1:'a', 'b':[1,2,3], 'c':3}
print(a_dic)

{1: 'a', 'b': [1, 2, 3], 'c': 3}

In [33]:
print(a_dic[1])
print(a_dic['b'])
print(a_dic['c'])

a
[1, 2, 3]
3

In [35]:
a_dic['d'] = 'Microsoft AI School'
print(a_dic)

{1: 'a', 'b': [1, 2, 3], 'c': 3, 'd': 'Microsoft AI School'}

In [37]:
# Set 중복, 순서 없음
a_set = {1,2,3}
print(a_set)
print(type(a_set))

{1, 2, 3}
<class 'set'>

In [38]:
b_set = {3,4,5}

In [39]:
#union은 합집합
a_set.union(b_set)

{1, 2, 3, 4, 5}

In [40]:
#intersection은 교집합
a_set.intersection(b_set)

{3}

In [41]:
#-는 차집합
a_set - b_set

{1, 2}

In [42]:
#or 조건
a_set | b_set

{1, 2, 3, 4, 5}

In [43]:
#and 조건
a_set & b_set

{3}

In [44]:
# 부록
a= set((1,2,3))
print(type(a))

<class 'set'>

In [45]:
#타입 변환
b = list(a)
print(type(b))

<class 'list'>

In [46]:
c = tuple(b)
print(type(c))

<class 'tuple'>