In [6]:
import pandas as pd

In [7]:
dataframe = pd.DataFrame()
# datetime 생성
# periods 매개변수는 date_range함수에 전달된 시작날짜와 종료날짜를 periods 매개변수에 전달된 기간만큼
# 동일하게 나누어 출력해줍니다.
dataframe['date'] = pd.date_range('1/1/2022', periods=100000, freq='H')
dataframe

                     date
0     2022-01-01 00:00:00
1     2022-01-01 01:00:00
2     2022-01-01 02:00:00
3     2022-01-01 03:00:00
4     2022-01-01 04:00:00
...                   ...
99995 2033-05-29 11:00:00
99996 2033-05-29 12:00:00
99997 2033-05-29 13:00:00
99998 2033-05-29 14:00:00
99999 2033-05-29 15:00:00

[100000 rows x 1 columns]

In [11]:
# 두 datetime 사이의 샘플을 선택합니다.
dataframe[(dataframe['date'] > '2022-1-1 01:00:00') &
          (dataframe['date'] <= '2022-3-1 04:00:00')]
dataframe = dataframe.set_index(dataframe['date'])
dataframe

                                   date
date
2022-01-01 00:00:00 2022-01-01 00:00:00
2022-01-01 01:00:00 2022-01-01 01:00:00
2022-01-01 02:00:00 2022-01-01 02:00:00
2022-01-01 03:00:00 2022-01-01 03:00:00
2022-01-01 04:00:00 2022-01-01 04:00:00
...                                 ...
2033-05-29 11:00:00 2033-05-29 11:00:00
2033-05-29 12:00:00 2033-05-29 12:00:00
2033-05-29 13:00:00 2033-05-29 13:00:00
2033-05-29 14:00:00 2033-05-29 14:00:00
2033-05-29 15:00:00 2033-05-29 15:00:00

[100000 rows x 1 columns]

In [12]:
temp = dataframe.loc['2022-2-11 01:00:00': '2022-2-11 04:00:00']
print(temp)

                                   date
date
2022-02-11 01:00:00 2022-02-11 01:00:00
2022-02-11 02:00:00 2022-02-11 02:00:00
2022-02-11 03:00:00 2022-02-11 03:00:00
2022-02-11 04:00:00 2022-02-11 04:00:00