In [7]:
import pandas as pd
import numpy as np

In [8]:
time_index = pd.date_range('01/01/2022', periods=5, freq='M')
dataframe = pd.DataFrame(index=time_index)  # 데이터 프레임을 만들고 인덱스를 지정
dataframe

Empty DataFrame
Columns: []
Index: [2022-01-31 00:00:00, 2022-02-28 00:00:00, 2022-03-31 00:00:00, 2022-04-30 00:00:00, 2022-05-31 00:00:00]

In [9]:
dataframe['Sales'] = [1.0, 2.0, np.nan, np.nan, 5.0]  # 누락된 값이 있는 특성 생성
dataframe

            Sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    NaN
2022-04-30    NaN
2022-05-31    5.0

In [10]:
data = dataframe.interpolate() # 누락된 값을 보간
data

            Sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    3.0
2022-04-30    4.0
2022-05-31    5.0

In [11]:
data = dataframe.ffill()  # 앞쪽으로 Forward-fill
data

            Sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    2.0
2022-04-30    2.0
2022-05-31    5.0

In [12]:
data01 = dataframe.bfill()  # 뒤쪽으로 Back-fill
data01

            Sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    5.0
2022-04-30    5.0
2022-05-31    5.0

In [13]:
data02 = dataframe.interpolate(method='quadratic')
data02

               Sales
2022-01-31  1.000000
2022-02-28  2.000000
2022-03-31  3.059808
2022-04-30  4.038069
2022-05-31  5.000000

In [14]:
# 보간 방향 지정
data03 = dataframe.interpolate(limit=1, limit_direction='forward')
print(data03)

            Sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    3.0
2022-04-30    NaN
2022-05-31    5.0