In [16]:
# 판다스 데이터프레임의 replace()를 사용하여 문자열 레이블을 수치값으로 변환합니다.
import pandas as pd

In [17]:
 # 특성 데이터 생성
dataframe = pd.DataFrame(
    {"Score": ["Low", "Low", "Medium", "Medium", "High"]}) 
dataframe

    Score
0     Low
1     Low
2  Medium
3  Medium
4    High

In [18]:
# 매핑 딕셔너리 생성
scale_mapper = {"Low": 1, "Medium": 2, "High": 3}

In [19]:
# 특성을 정수로 변환
data = dataframe["Score"].replace(scale_mapper) 
data

0    1
1    1
2    2
3    2
4    3
Name: Score, dtype: int64

In [20]:
dataframe = pd.DataFrame(
    {"Score": ["Low", "Low", "Medium", "Medium", "High", "Barely More Than Medium"]})
dataframe

                     Score
0                      Low
1                      Low
2                   Medium
3                   Medium
4                     High
5  Barely More Than Medium

In [21]:
# 매핑 딕셔너리 생성
scale_mapper = {"Low": 1, "Medium": 2, "Barely More Than Medium": 3, "High": 4}

In [22]:
 # 특성을 정수로 변환
data = dataframe["Score"].replace(scale_mapper) 
data

0    1
1    1
2    2
3    2
4    4
5    3
Name: Score, dtype: int64